.container div:nth-child(1) {
    background-color: gray;
    height: 50px;
}

.container div:nth-child(2) {
    background-color: lightseagreen;
    height: 75px;
    order: 3; /*magically moves 2nd container to 5th in the list (if all have an order)
                default 'order' is 0.
                Since all other have 0, this will move to the end ( 3 > 0,0,0,0
                can also use negatives. */

}

.container div:nth-child(3) {
    background-color: darkcyan;
    height: 120px;
}

.container div:nth-child(4) {
    background-color:  steelblue;
    height: 30px;
    flex-grow: 3; /*taking the place of 3 items, squeezes all other 
                    can also use flex-shrink!*/
}

.container div:nth-child(5) {
    background-color: royalblue;
    height: 80px;
}

.container div:nth-child(6) {
    background-color: blue;
    height: 10px;
}

.container div {
   width: 50px;
   padding: 50px;
   margin: 5px;
   color: white;
   text-align: center;
   font-size: 50pt;
   font-weight: bolder;
}

.container {
    height: 400px;
    display: flex;
  /* made containers in line, but are internally still blocks */
    justify-content: space-evenly;
/*position in container..   flex-start:     left side. 
                            flex-end:       right. 
                            flex-center:    middle
                            space-around:   
                            space-evenly:   space between 2 items is equal


                             */
    align-items: center; /* center: adjust so items by height are in center 
                                flex-start: top of children are on the top of container
                                baseline: centered based on the text*/
/*  align-content: ; */
}