/* Nikki Wood */

/* . means class selector
    nothing means tag selector    
    [] means attribute selector
    # means id selector
    :psudo class slector
*/

body{
    background-color: #CCCCCC;
}

ul {
    list-style-type: none;
}

ul li {
    background-color: #6D7E8F;
        /*padding on all sides: N, E, S, W */
    padding: 10px, 0px, 10px, 25px;
        /* you can also specify which type: 
            instead of padding:, use padding-top:
        */
    margin: 25px;
    border: 2px solid black;
    /* this can be removed because of previous line. 
    border-style: solid;
    border-color: black;
    border-width: 2px; */

}

a {
    color: red;
    text-decoration: none; /* remove underline */
}

a:visited{
    color: greenyellow;
}
