div {
    height: 100px;
    width: 100px;
    margin: 100px;
}

.box {
    background-color: red;
    transition-duration: 1s;
    transition-property:background-color, border-radius;
}

.box:hover {
    background-color: blue;
    transition-property: background-color, border-radius; /*tell it what it's transitioning*/
    border-radius: 80%;
}

.skew {
    background-color: green;
    transition-property: transform;
    transition-duration: 1s;
}

.skew:hover {
    /*different browsers */
    -webkit-transform: skewx(20deg);
    -moz-transform: skewx(20deg);
    -o-transform: skewx(20deg);
    -ms-transform: skewx(20deg);
    transform: skewx(20deg);
}

.scale-up {
    background-color: yellow;
    transition-property: transform;
    transition-duration: 1s;
}

.scale-up:hover {
    transform: scale(2,2);
}

.scale-down {
    background-color: darkviolet;
    transition-property: transform;
    transition-duration: 1s;
}

.scale-down:hover {
    transform: scale(.5, .5)
}

.change-color {
    background-color: red;
    transition-property: background-color;
    animation-name: morph-colors;
    animation-duration: 4s;
    /* animation-iteration-count: infinite; */
}

.change-color:hover {
    animation-name: morph-back;
    animation-direction: reverse;
    transition-property: background-color;
    animation-duration: 4s;
}

@keyframes morph-colors {
    0% {
        background-color: red;
    }
    20% {
        background-color: orange;
    }
    40% {
        background-color: yellow;
    }
    60%{
        background-color: green;
    }
    80%{
        background-color: blue;
    }
    100%{
        background-color: red;
    }
}

@keyframes morph-back {
    0% {
        background-color: red;
    }
    20% {
        background-color: blue;
    }
    40% {
        background-color: green;
    }
    60%{
        background-color: yellow;
    }
    80%{
        background-color: orange;
    }
    100%{
        background-color: red;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

